.service-container{
    padding: 30px;
    transition: .5s;
}
.service-container:hover{
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}
.service-container img{
    transition: .6s;
}
.service-container:hover img{
    transform: scale(1.2);
}
.service-container h5{
    transition: .6s;
}
.service-container:hover h5{
    transform: scale(1.2);
    color: crimson;
}
.service-container p{
    transition: .6s;
}
.service-container:hover p{
    transform: scale(1.2);
    color: cadetblue;
}